@media screen {
  #editor {
    height: 600px;
  }
  .lang-select {
    width: 100px;
    margin-right: 10px;
  }
  header .btn {
    margin: 0 5px;
  }
  footer .btn {
    margin: 0 5px;
  }
  .editor-footer, .editor-header {
    margin: 10px 0;
  }
  .cursor {
    /*position:absolute;*/
    background: rgba(0, 250, 0, 0.5);
    z-index: 40;
    width: 2px!important
  }
}
